.about{
    height:700px;

}
#about {
  scroll-margin-top: 110px; /* height of navbar */
}
.about-heading{
    margin-top:200px;
    height:100px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-content: top;
    color: transparent;
    background-image: linear-gradient(90deg, #8c00ff,#e2cb00);
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow:
        0 0 20px rgba(220, 27, 27, 0.35),
        0 0 40px rgba(118, 1, 213, 0.25);
    
}
.about-text{
    height:300px;
    align-content: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 12px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    
}