.navbar {
  position: fixed;
  top: 0;
  left: 0;         
  width: 100%;
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  z-index: 1000;

  backdrop-filter: blur(12px);
 
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color:transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #d900ff,#a99801);
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
  margin-left: auto;
  padding: 0 5%;
}

.nav-links li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.95rem;
  transition: all 0.5s ease-in;
}

.nav-links a:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg,#ff0011, #e8e401);
  font-size: 1.2rem;
}


